<div class="card mb-4">
	{% if property.fileName %}
		<img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="attente..." class="card-img-top" style="width : 100%; heignt: auto;">
	{% else %}
		<img src="{{ '/images/properties/empty.jpeg'| imagine_filter('thumb') }}" alt="attente..." class="card-img-top" style="width : 100%; heignt: auto;">
	{% endif %}
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('property.show', {slug : property.slug, id : property.id}) }}">
				{{ property.title }}
			</a>
			<p class="card-text">
				{{ property.surface }}
				m<sup>2</sup>-
				{{ property.city }}
				({{ property.postalCode }})
				<div class="text-primary" style="font-size:2em; font-weight:bold;">
					{{ property.price | number_format(0, '', ' ' ) }}
					$
				</div>

			</p>
		</h5>
	</div>
</div>
